- content_for(:title) { 'Comment' }
.container
  .comment#photo-show{data: {photo_id: @photo.id}}
  .comments-container
  .btn_secondary.show-comment-form
    = image_tag 'Vector.png', class: 'vector'
  .comment-text-area.hidden
    = text_area_tag :comment_content, '', class: 'sm'
    .btn_secondary.add-comment-button
      = image_tag 'Vector.png', class: 'vector'

= javascript_pack_tag 'photo'
