- content_for(:title) { 'TimeLine' }
.container
  - @ranks.each do |photo|
    = render 'commons/photo', photo: photo
  - @photos.each do |photo|
    = render 'commons/photo', photo: photo

= javascript_pack_tag 'photo'
