@import './variables';

.btn-primary {
  background-color: blue;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
}

.btn {
  &_sign {
    width: 343px;
    height: 48px;
    background: #FFE600;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }

  &_secondary {
    position: absolute;
    margin-bottom: 10px;
  }
}

.timeline-btn {
  margin-top: 10px;
}
