.follow {

  &_card {
    padding-top: 30px;
    height: 100px;
  }

  &_avatar {
    display: flex;
    img {
      width: 30px;
      height: 30px;
    }
  }

  &_username {
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #414040;
  }
}
