label {
  font-size: 12px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  border: 1px solid #EBEBEB;
  resize: vertical;
}

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #9E9e9E;
    border-left: none;
  }
}
