@import './variables';
$image_size: 56px;
.profilePage {
  margin-top: 24px;

  &_image {
    text-align: center;
    img {
      width: $image_size;
      height: $image_size;
    }
  }

  &_count {
    display: flex;
    margin: 22px 0px;

    &_photos {
      text-align: center;
      margin-left: 40px;
    }

    &_following {
      text-align: center;
      margin: auto;
    }

    &_follower {
      text-align: center;
      margin-right: 40px;
    }
  }
}

.count {
  font-size: 16px;
  font-weight: 500;
  color: #333A42;
}

.count_title {
  font-size: 14px;
}

.profile_pics {
  margin: 12px 0px;
}

#profile-upload {
  display: none;
}

#follow-form {
  margin-top: 10px;
}

.avatar_update {
  display: flex;
  position: relative;
  &_btn {
    position: absolute;
    right: 0px;
  }
}

.avatar-cancel {
  position: absolute;
  right: 64px;
}
