@import './variables';
$image_size: 56px;
.profilePage {
  margin-top: 24px;

  &_user {
    display: flex;
    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 140px;
      img {
        width: $image_size;
        height: $image_size;
      }
    }
  }
}
